@model IEnumerable<ProjectAriel.Models.Player>

@{
	ViewBag.Title = "Players";
}
<script>
	var editURL = '@Url.Action(MVC.Player.Edit())';
</script>

<h2>Players</h2>

<p>
	@Html.ActionLink("Add New", MVC.Player.Create())
</p>
<div class="table">
	<div class="bold row">
		<div class="col-lg-6">
			@Html.DisplayNameFor(model => model.Name)
		</div>
		<div class="col-lg-6">
			@Html.DisplayNameFor(model => model.IsActive)
		</div>
	</div>
	@foreach (var item in Model)
	{
		<div id="player" class="row" data-id="@item.ID">
			@Html.HiddenFor(p => item.ID)
			<div class="col-lg-6">
				@Html.DisplayFor(modelItem => item.Name)
			</div>
			<div class="col-lg-3">
				@Html.DisplayFor(modelItem => item.IsActive)
			</div>
			<div class="col-lg-3">
				@Html.ActionLink("Details", MVC.Player.Details(item.ID), new { id = item.ID }) |
				@Html.ActionLink("Delete", MVC.Player.Delete(item.ID), new { id = item.ID })
			</div>
		</div>
	}
</div>

@Scripts.Render(Links.Scripts.PageSpecific.PlayerIndex_js)